@charset "utf-8";

html{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px; 
}

.flex-container{
	display:flex;
	background-color: lightgrey;
	flex-wrap:wrap;
	width:90%;
	min-height:100%;
	margin:0 auto;
}
header {
	width:100%;
	height:5em;
	order: 1;
	display: flex;
	justify-content:center;
    align-items:center;
	background-color:rgba(186,232,235,1.00);
}
.nav {
	width:100%;
	height:3em;
  	order: 2;
	background-color:rgb(255, 217, 167);
}
.menuItem{
	display:flex;
	align-items:center;
	justify-content:space-around;
	width:25%;
	height:3em;
	float:left;
	background-color:rgba(0,0,0,1.00);
	color:#FFF;
}
.menuItem:hover{
	background-color:rgb(0, 30, 197);
}
.article {
  display:flex;
  flex-wrap:wrap;
  order: 3;
  flex: 1 100%;
  background-color:rgb(201, 87, 87);
}

.bookCover {	
	display:flex;
	width: 25%;
	float: left;
	flex-wrap:wrap;
	align-content: center;
	align-items: center;
	background-color: blueviolet;
}

.black {
	color: white;
}

footer {
  display:flex;
  width:100%;
  height:4em;
  order: 5;
  justify-content:center;
  align-items:center;
  background-color: rgb(255, 217, 167);
}

.loginForm {
	display:flex;
	justify-content:center;
	align-items:center;
	vertical-align: top;
	background-color: rgb(199, 158, 158);
	height: 500px;
	width: 50%;
}

.regForm {
	display:flex;
	justify-content:center;
	align-items:center;
	vertical-align: top;
	background-color: rgb(199, 158, 158);
	height: 500px;
	width: 50%;
}

.addForm {
	display:flex;
	justify-content:center;
	align-items:center;
	vertical-align: top;
	background-color: rgb(199, 158, 158);
	height: 500px;
	width: 50%;
}

.fieldSet {
	display:flex;
	justify-content:center;
	align-items:center;
	vertical-align: top;
	background-color: rgb(199, 158, 158);
	height: 350px;
	width: 25%;
}

.bodyCustom {
	background-color: lightgrey;
}


.holder{
	width:25%;
	height:auto;
	float:left;
}
.holder img {
	width:100%;
	height:100%;
}
a:link, a:active, a:visited{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
.flex-container {
	width:100%;
}
.nav{
	order:1;
}
.header{
	order:2;
}
.contentLeft, .contentRight{
	display:none;
}

}

@media only screen and (max-width: 500px) {
.flex-container {
	width:100%;
}
.holder{
	width:100%;
}
.contentLeft, .contentRight{
	display:none;
}
.nav{
	height:auto;
}
.menuItem{
	width:100%;
}

}
